.titleCards{
    margin-top: 50px;
    margin-bottom: 30px;
}

.titleCards h2{
    margin-bottom: 8px;
}

.card__list{
    display: flex;
    gap:10px;
    overflow-x: scroll;
}

.card__list::-webkit-scrollbar{
    display: none;
}

.card__list img{
    width: 240px;
    cursor: pointer;
    border-radius: 4px;
}

.card__list .card{
    position: relative;
}

.card__list .card p{
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}

@media (max-width: 800px){ 
    .titleCards{
        margin-top: 20px;
        margin-bottom: 0;
    }
    .titleCards h2{
        font-size: 20px;
    } 
    .card__list img{
        width: 200px;
    }
    .card__list p{
        font-size: 12px;
    }
} 

@media (max-width: 500px){ 
    .titleCards h2{
        font-size: 15px;
    } 
    .card__list img{
        width: 165px;
    }
    .card__list p{
        font-size: 10px;
    }
} 